popover {
    .row-dots {
        text-align: center;
        .dot {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 10px auto;
            position: relative;
        }
    }
    .title {
        margin-left: 7px;
    }
    .inner {
        width: 100px;
        height: 100%;
    }
}