page-login {
    .fondo {
        background-color: #EBEFF0;
    }
    img {
        margin-top: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    iconlogin {
        margin-left: 15px;
    }
    p {
        text-align: right;
        margin-top: 15px;
        margin-right: 22px;
        color: #78849E
    }
    .p2 {
        text-align: center;
        margin-top: 38px;
        margin-bottom: 5px
    }
    ion-item {
        ion-icon {
            margin-right: 6px;
        }
    }
}