.ios, .md{


page-gas-individual {

  ion-card {
    background-color: #fff;
    position: relative;


    img {
      background-size: contain;
    }

    ion-card-content{
      padding: 0px;
      margin-left: 26px;
    }

    ion-item{
      padding: 0px;
      margin-left: 26px;
      background-color: #fff;

      button{
        background-color: primary;
        margin-right: 40px;

      }


    }


  }

}

}
