page-gas-individual {

  ion-card {
    background-color: #fff;

    position: relative;


    img {
      background-size: contain;
    }

    ion-card-content{
      padding: 0px;
      margin-left: 26px;
    }

    ion-item{
      padding: 0px;
      margin-left: 26px;
      background-color: #fff;

      button{
        ion-icon{
          margin-left: 0px;
        }
      }

        ion-badge{
          margin-left: 18px;
        }

        span{
          margin-left: 45px;
          padding: 0px;

          md-star-outline{
            color: #F4B400;
          }

        }


    }
  }

}
